.sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - 60px); /* full height minus navbar */
  background-color: var(--color-primary);
  color: var(--color-bg);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.sidebar::before {
  content: '';
  position: absolute;
  top: 0;
  left: var(--sidebar-width);
  width: 1px;
  height: 100%;
  background-color: var(--color-secondary);
}
.sidebar h2 {
  margin-bottom: 20px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  margin-bottom: 15px;
}
.sidebar ul li a {
  color: var(--color-bg);
  text-decoration: none;
  font-size: 18px;
}
.sidebar ul li a:hover {
  color: var(--color-bg);
}
.sidebar ul li.active a {
  color: var(--color-bg);
  font-weight: bold;
}
.sidebar ul li.active a:hover {
  color: var(--color-bg);
}