:root {
  --color-primary: #103052;     /* pick a brand color, e.g. blue/purple */
  --color-success: #338a47;     /* for stock prices going UP */
  --color-danger: #810814;      /* for stock prices going DOWN */
  --color-bg: #eaf3fd;           /* page background */
  --color-text: #0e0d0d;         /* main text color */
  --sidebar-width: 220px;      /* e.g. 220px from earlier */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}
.main-heading {
    text-align: center;
    margin: 20px;
    color: var(--color-primary);
}